@use 'styles/constants/colors';

.dropDownContainer {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 10;
  width: 450px;
  max-height: 100px;
  margin-right: auto;
  margin-left: auto;
  overflow: scroll;
  visibility: hidden;
  background-color: colors.$GRAYD;

  ul {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

.open {
  visibility: visible;
}

.dropDownItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 0 5px;
  line-height: 140%;
  border-bottom: 1px solid colors.$GRAYE;

  div {
    width: 100%;
  }

  &:hover {
    background-color: colors.$GRAYA;
  }

  .markKeyWord {
    font-weight: 600;
    background-color: transparent;
  }
}
