.container {
  .headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;

    .headerItem {
      flex-grow: 1;
    }

    .coinIconContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .coinLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
      }

      .coinText {
        margin-left: 10px;
        font-size: 18px;
        font-weight: 500;
      }
    }

    .starIconContainer {
      .starIcon {
        margin-left: auto;
      }
    }
  }

  .contentContainer {
    line-height: 140%;

    .name {
      font-size: 20px;
      line-height: 140%;
    }

    .priceContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .priceText {
        font-size: 30px;
        font-weight: 600;
      }

      .percentContainer {
        display: flex;
        flex-direction: column;

        .percentText {
          font-size: 18px;
        }
      }
    }

    .chartContainer {
      width: 100%;
      padding: auto;
      overflow-x: scroll;
      overflow-y: hidden;

      .chart {
        width: 700px;
      }
    }
  }
}
