@use 'styles/constants/colors';

.dropDownContainer {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 10;
  width: 450px;
  max-height: 70px;
  margin-right: auto;
  margin-left: auto;
  overflow: scroll;
  visibility: hidden;
  background-color: colors.$GRAYE;

  ul {
    width: 100%;
    height: 100%;
    padding: 0;
    list-style: none;
  }
}

.open {
  visibility: visible;
}

.dropDownItem {
  width: 100%;
  padding: 0 5px;
  line-height: 140%;

  &:hover {
    background-color: colors.$GRAYA;
  }

  .markKeyWord {
    font-weight: 600;
    background-color: transparent;
  }
}
