@use 'styles/constants/colors';

.layoutContainer {
  position: relative;
  max-width: 600px;
  height: 98vh;
  //   TODO: 임시 스타일
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  border-radius: 8px;
}

.mainContainer {
  position: absolute;
  top: 70px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 120px);
  padding: 0 10px;
  margin-bottom: 50px;
  overflow: scroll;
  line-height: 150%;
  color: colors.$GRAY800;
  background-color: colors.$MAIN_BG;
}
