@use 'styles/constants/colors';

.layoutBackground {
  width: 100vw;
  height: 100vh;
  background-color: colors.$LAYOUT_BG;
}

.layoutContainer {
  position: relative;
  max-width: 600px;
  height: 98vh;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  border-radius: 8px;
}

.mainContainer {
  position: absolute;
  top: 70px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 140px);
  padding: 0 25px;
  overflow: scroll;
  line-height: 150%;
  color: colors.$GRAY800;
  background-color: colors.$WHITE;
}
