@use 'styles/constants/colors';

.headerContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 8px 15px;
  overflow: hidden;
  color: colors.$WHITE;
  background-color: colors.$HEADER;
}
