@use 'styles/constants/colors';

.footerContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  padding: 5px 10px;
  font-size: 18px;
  background-color: colors.$GRAY6;
}
